In [1]:
import seaborn as sns

In [2]:
df= sns.load_dataset("fmri")

In [3]:
df.head()

  subject  timepoint event    region    signal
0     s13         18  stim  parietal -0.017552
1      s5         14  stim  parietal -0.080883
2     s12         18  stim  parietal -0.081033
3     s11         18  stim  parietal -0.046134
4     s10         18  stim  parietal -0.037970

In [4]:
df.value_counts("event")

event
cue     532
stim    532
dtype: int64

In [5]:
df.value_counts("region")

region
frontal     532
parietal    532
dtype: int64

In [12]:
df.query("event=='stim' and region == 'parietal' ")

    subject  timepoint event    region    signal
0       s13         18  stim  parietal -0.017552
1        s5         14  stim  parietal -0.080883
2       s12         18  stim  parietal -0.081033
3       s11         18  stim  parietal -0.046134
4       s10         18  stim  parietal -0.037970
..      ...        ...   ...       ...       ...
263      s2          0  stim  parietal -0.034407
264      s5          9  stim  parietal -0.074843
265      s0         13  stim  parietal -0.055264
266      s6         16  stim  parietal -0.039951
521      s0          0  stim  parietal -0.039327

[266 rows x 5 columns]